<%- include('../views/includes/_hero', {background:"bg-contact"}); %>



<article class="content-wrapper grid">
  <div class="col-7">
    <h3>GET IN TOUCH</h3><br>
    <p>Feel free to contact me if you have any questions.</p>

    <!-- If there are errors, list error msg for each error. -->
    <% if (errors) { %>
      <ul class="form-alert">
        <h4>PLEASE ENTER</h4>
        <span>:</span>
        <% errors.forEach(function(obj){ %>
          <li><%= obj.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  </div>

  <div class="col-6">
    <form class="form ctr" name="contactForm" method="post" action="/contact">
      <ul>
        <li>
          <input type="text" name="name" placeholder="Name" value="<%= name %>">
        </li>
        <li>
          <input type="email" name="email" placeholder="Email" value="<%= email %>">
        </li>
        <li>
          <textarea name="message" placeholder="Message"><%= message %></textarea>
        </li>
        <button class="button button-secondary">SEND MESSAGE</button>
      </ul>
    </form>
  </div>

  <img class="col-6 is-full-width is-rounded" src="/images/landscape/landscape-13.jpg">

  <div class="clear"></div>
</article>